/.quarto/
**/*.quarto_ipynb
/skills
WORKING-NOTES.md
.DS_Store
**/.DS_Store
/_site/
/_slides/
_site/advanced/brand-yml.html
_site/advanced/templates-and-extensions.html
_site/assets/logo-quarto.svg
_site/exercises/dashboards-exercise.html
_site/exercises/lab-notebook-exercise.html
_site/exercises/manuscripts-exercise.html
_site/exercises/presentations-exercise.html
_site/exercises/websites-exercise.html
_site/foundations/installing-quarto.html
_site/foundations/markdown-intro.html
_site/foundations/quarto-intro.html
_site/foundations/yaml-intro.html
_site/index.html
_site/plan.html
_site/search.json
_site/site_libs/bootstrap/bootstrap-7a167fa989b81fa6de24f37b607e5a60.min.css
_site/site_libs/bootstrap/bootstrap-dark-255521b1162308cd384518c849a24690.min.css
_site/site_libs/bootstrap/bootstrap-icons.css
_site/site_libs/bootstrap/bootstrap-icons.woff
_site/site_libs/bootstrap/bootstrap.min.js
_site/site_libs/clipboard/clipboard.min.js
_site/site_libs/quarto-contrib/glightbox/glightbox.min.css
_site/site_libs/quarto-contrib/glightbox/glightbox.min.js
_site/site_libs/quarto-contrib/glightbox/lightbox.css
_site/site_libs/quarto-contrib/iconify-3.0.0/iconify-icon.min.js
_site/site_libs/quarto-html/anchor.min.js
_site/site_libs/quarto-html/popper.min.js
_site/site_libs/quarto-html/quarto-syntax-highlighting-14d1a05a00048e57088b66f4b82a679f.css
_site/site_libs/quarto-html/quarto-syntax-highlighting-dark-30d28943c78b9b3391ea2c0d9883665b.css
_site/site_libs/quarto-html/quarto.js
_site/site_libs/quarto-html/tabsets/tabsets.js
_site/site_libs/quarto-html/tippy.css
_site/site_libs/quarto-html/tippy.umd.min.js
_site/site_libs/quarto-html/zenscroll-min.js
_site/site_libs/quarto-nav/headroom.min.js
_site/site_libs/quarto-nav/quarto-nav.js
_site/site_libs/quarto-search/autocomplete.umd.js
_site/site_libs/quarto-search/fuse.min.js
_site/site_libs/quarto-search/quarto-search.js
_site/use-cases/dashboards.html
_site/use-cases/lab-notebook.html
_site/use-cases/manuscripts.html
_site/use-cases/presentations.html
_site/use-cases/websites.html
_slides/advanced/brand-yml.html
_slides/advanced/templates-and-extensions.html
_slides/assets/logo-quarto.svg
_slides/exercises/dashboards-exercise.html
_slides/exercises/lab-notebook-exercise.html
_slides/exercises/manuscripts-exercise.html
_slides/exercises/presentations-exercise.html
_slides/exercises/websites-exercise.html
_slides/foundations/installing-quarto.html
_slides/foundations/markdown-intro.html
_slides/foundations/quarto-intro.html
_slides/foundations/yaml-intro.html
_slides/index.html
_slides/plan.html
_slides/search.json
_slides/site_libs/clipboard/clipboard.min.js
_slides/site_libs/quarto-contrib/glightbox/glightbox.min.css
_slides/site_libs/quarto-contrib/glightbox/glightbox.min.js
_slides/site_libs/quarto-contrib/glightbox/lightbox.css
_slides/site_libs/quarto-contrib/iconify-3.0.0/iconify-icon.min.js
_slides/site_libs/quarto-html/light-border.css
_slides/site_libs/quarto-html/popper.min.js
_slides/site_libs/quarto-html/quarto-syntax-highlighting-7f8f88aac4f3542376d5c11b86a4c14d.css
_slides/site_libs/quarto-html/tabby.min.js
_slides/site_libs/quarto-html/tippy.css
_slides/site_libs/quarto-html/tippy.umd.min.js
_slides/site_libs/revealjs/dist/reset.css
_slides/site_libs/revealjs/dist/reveal.css
_slides/site_libs/revealjs/dist/reveal.esm.js
_slides/site_libs/revealjs/dist/reveal.esm.js.map
_slides/site_libs/revealjs/dist/reveal.js
_slides/site_libs/revealjs/dist/reveal.js.map
_slides/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
_slides/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
_slides/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
_slides/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
_slides/site_libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
_slides/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
_slides/site_libs/revealjs/dist/theme/quarto-abac06e4d7481df1d5d4c332a562a1d5.css
_slides/site_libs/revealjs/plugin/highlight/highlight.esm.js
_slides/site_libs/revealjs/plugin/highlight/highlight.js
_slides/site_libs/revealjs/plugin/highlight/monokai.css
_slides/site_libs/revealjs/plugin/highlight/plugin.js
_slides/site_libs/revealjs/plugin/highlight/zenburn.css
_slides/site_libs/revealjs/plugin/markdown/markdown.esm.js
_slides/site_libs/revealjs/plugin/markdown/markdown.js
_slides/site_libs/revealjs/plugin/markdown/plugin.js
_slides/site_libs/revealjs/plugin/math/katex.js
_slides/site_libs/revealjs/plugin/math/math.esm.js
_slides/site_libs/revealjs/plugin/math/math.js
_slides/site_libs/revealjs/plugin/math/mathjax2.js
_slides/site_libs/revealjs/plugin/math/mathjax3.js
_slides/site_libs/revealjs/plugin/math/plugin.js
_slides/site_libs/revealjs/plugin/notes/notes.esm.js
_slides/site_libs/revealjs/plugin/notes/notes.js
_slides/site_libs/revealjs/plugin/notes/plugin.js
_slides/site_libs/revealjs/plugin/notes/speaker-view.html
_slides/site_libs/revealjs/plugin/pdf-export/pdfexport.js
_slides/site_libs/revealjs/plugin/pdf-export/plugin.yml
_slides/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
_slides/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
_slides/site_libs/revealjs/plugin/quarto-line-highlight/plugin.yml
_slides/site_libs/revealjs/plugin/quarto-support/footer.css
_slides/site_libs/revealjs/plugin/quarto-support/plugin.yml
_slides/site_libs/revealjs/plugin/quarto-support/support.js
_slides/site_libs/revealjs/plugin/reveal-menu/menu.css
_slides/site_libs/revealjs/plugin/reveal-menu/menu.js
_slides/site_libs/revealjs/plugin/reveal-menu/plugin.yml
_slides/site_libs/revealjs/plugin/reveal-menu/quarto-menu.css
_slides/site_libs/revealjs/plugin/reveal-menu/quarto-menu.js
_slides/site_libs/revealjs/plugin/search/plugin.js
_slides/site_libs/revealjs/plugin/search/search.esm.js
_slides/site_libs/revealjs/plugin/search/search.js
_slides/site_libs/revealjs/plugin/zoom/plugin.js
_slides/site_libs/revealjs/plugin/zoom/zoom.esm.js
_slides/site_libs/revealjs/plugin/zoom/zoom.js
_slides/use-cases/dashboards.html
_slides/use-cases/lab-notebook.html
_slides/use-cases/manuscripts.html
_slides/use-cases/presentations.html
_slides/use-cases/websites.html
